img {
    height: 120px;
    border: 1px solid gray;
    box-shadow: 0.5px 0.5px 200px white;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    width: 100vw;
    height: 100vh;
}

.gamesquare {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    background-color: lightgray;
    border: 1px solid gray;
    gap: 4px;
    box-shadow: 1px 1px 20px rgb(153, 101, 101, 0.4);
}

.easy {
    grid-template-columns: repeat(3, 1fr);
}

.medium {
    grid-template-columns: repeat(4, 1fr);
}

.hard {
    grid-template-columns: repeat(6, 1fr);
}

.hidden {
    display: none;
}

.Soka {
    border: 2px solid green;
    color: green;
}

.Tika {
    border: 2px solid purple;
    color: purple;
}

.Ratu {
    border: 2px solid orange;
    color: orange;
}

